@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 28, 28, 28;
  --background-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 219, 220;
    --background-rgb: 28, 28, 28;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.my-masonry-grid {
  display: flex;
  margin-left: -1.3rem;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1.3rem;
  background-clip: padding-box;
}

.my-masonry-grid_item {
  margin-bottom: 1.3rem;
  overflow: hidden;
  transition: all .2s ease-in-out;
}

.my-masonry-grid_item:hover {
  transform: translateY(-5px);
}
